[Unit]
Description=AniNIX::Raven IRC Bot
After=network.target

[Service]
ExecStart=/usr/bin/mono /opt/raven.mono -c raven.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=raven
Group=raven

[Install]
WantedBy=multi-user.target
