[Unit]
Description=AniNIX/Raven | IRC Bot
After=network-online.target

[Service]
WorkingDirectory=/usr/local/etc/TheRaven
ExecStart=/usr/bin/mono /opt/aninix/TheRaven/raven.mono -c raven.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=raven
Group=raven

[Install]
WantedBy=multi-user.target
